footer {
  display: flex;
  flex-shrink: 0;

  .footer-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }

  .social-media-section {
    display: flex;

    //This is where I want to change the styles to use the mixin I created in the _mixins.scss file
    &__social-media-item {
      @include media-container-style(#1B998B);
    }
  }
}
