header {
  .navbar {
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .link-container {
    margin-left: 32px;
  }

  .nav-link {
    font-weight: bold;
    font-size: 24px;
  }
}

.admin-page a,
.edit-page a,
.add-page a {
  padding-right: 20px;
}

.admin-pages-active-link {
  color: rgba(0, 0, 0, 0.9);
}

.admin-pages-none-active-link {
  color: rgba(0, 0, 0, 0.55);
}

.dynamic-header-container {
  padding-top: 24px;
}

@media (max-width: 576px) {
  header {
    .nav-link {
      font-size: $default-font-size;
    }
  }
}
