header {
  .nav-link {
    font-weight: bold;
    font-size: 24px;
  }
}

.admin-page a, .edit-page a, .add-page a {
  padding-right: 20px;
}

.admin-pages-active-link {
  color: rgba(0, 0, 0, 0.9);
}

.admin-pages-none-active-link {
  color: rgba(0, 0, 0, 0.55);
}

@media (max-width: 576px) {
  header {
    .nav-link {
      font-size: $default-font-size;
    }
  }
}
