* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-size: $default-font-size;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-product-section {
  display: flex;

  .search-product-section__navigation {
    display: flex;
    
    .link-container {
      @include media-container-style(#1B998B); 
    }
  }  
}

.cart-navigation-section {
  .breadcrumb-item > a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.page-wrapper {
  flex: 1 0 auto;
}

.fa-duotone {
  color: white;
}

@include media-breakpoint-down(sm) {
  .search-product-section {
    display: none;
  }
}
