* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-size: $default-font-size;
}

body, html {
  height: 100%;
}

body, .card-payment-group__container, .login-page, .search-product-section, .search-product-section__navigation {
  display: flex;
}

body {
  flex-direction: column;
  height: 100%;
}

.search-product-section__navigation {
  .link-container {
    @include media-container-style(#1B998B); 
  }
}  

.cart-navigation-section {
  .breadcrumb-item > a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.login-page {
  align-items: center;
  justify-content: center;
}

.page-wrapper {
  flex: 1 0 auto;
}

.fa-duotone {
  color: white;
}

.search-product-section > .search-product-section__navigation--hidden, .if-password-wrong--show, .if-username-wrong--show {
  display: none;
}

@include media-breakpoint-down(sm) {
  .search-product-section {
    display: none;
  }
}
